openapi: 3.0.3
info:
  title: Sorolens API
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  description: |
    Sorolens indexes and surfaces data from Soroban smart contracts: events,
    invocations, storage, and per-contract analytics. This spec is the single
    source of truth for the auto-generated Go client (packages/go-client) and
    matches the live routes in apps/api/internal/router/router.go.

    Two namespaces are documented: the original `/api/v1` surface and the
    consistent `/api/v2` surface introduced in issue #144. v2 is additive; v1 is
    unchanged. See docs/api-v2.md for the field-by-field v1 -> v2 mapping.

    Authentication: most read endpoints accept an optional API key via
    `Authorization: Bearer <token>` or `X-API-Key: <token>`. API-key management
    additionally requires an admin identity via role headers
    (`X-User-ID`, `X-GitHub-Login`, `X-User-Sub`, or `X-GitHub-ID`).
  contact:
    name: Sorolens

servers:
  - url: https://api.sorolens.xyz
    description: Production

tags:
  - name: Health
    description: Liveness and readiness probes
  - name: Live
    description: Real-time dashboard feeds (newest events, per-minute activity)
  - name: API v2
    description: |
      Consistent v2 namespace (issue #144). Same paths as v1 under /api/v2 with
      a uniform {data, pagination} list envelope, RFC 3339 UTC timestamps, and
      explicit nulls. See docs/api-v2.md.
  - name: Stats
    description: Global and per-contract statistics
  - name: Contracts
    description: Tracked contract registration and lookup
  - name: Verification
    description: Contract source verification and Wasm hash matching
  - name: Events
    description: Contract events
  - name: Invocations
    description: Contract invocations and resource usage
  - name: Storage
    description: Contract storage entries
  - name: Forecast
    description: Cost and usage forecasting
  - name: Snapshots
    description: Historical storage snapshots
  - name: API Keys
    description: Scoped API key management (admin only)
  - name: Watchlist
    description: Per-user contract watchlists
  - name: Watchdog
    description: On-chain watchdog monitoring data

  - name: Version
    description: Build metadata for the running API instance
  - name: Alerts
    description: Deduplicated, grouped alert feed
  - name: Reports
    description: Monthly SLA and uptime reports
  - name: DLQ
    description: Dead-lettered indexer events that exhausted retries
  - name: Notifications
    description: Alert notification channels (webhook, Slack, Discord, PagerDuty)
  - name: Integrations
    description: Inbound third-party integrations (Slack slash commands)
  - name: Operations
    description: Prometheus metrics

paths:
  /health:
    get:
      tags: [Health]
      summary: Service health probe
      operationId: health
      security: []
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        "429":
          $ref: "#/components/responses/RateLimited"

  /readyz:
    get:
      tags: [Health]
      summary: Readiness probe for postgres and redis
      operationId: readyz
      security: []
      responses:
        "200":
          description: All dependencies reachable
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          description: A dependency is unavailable
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: unavailable
                  checks:
                    type: object
                    additionalProperties:
                      type: string

  /api/v1/stats/global:
    get:
      tags: [Stats]
      summary: Global index statistics
      operationId: getGlobalStats
      security:
        - ApiKeyAuth: [read:contracts]
      responses:
        "200":
          description: Global counts across all tracked contracts
          content:
            application/json:
              schema:
                type: object
                required: [tracked_contracts, total_events, total_invocations, total_storage_entries]
                properties:
                  tracked_contracts:
                    type: integer
                    format: int64
                  total_events:
                    type: integer
                    format: int64
                  total_invocations:
                    type: integer
                    format: int64
                  total_storage_entries:
                    type: integer
                    format: int64
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/contracts:
    get:
      tags: [Contracts]
      summary: List tracked contracts
      operationId: listContracts
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/NetworkParam"
        - name: status
          in: query
          required: false
          schema:
            type: string
          description: Filter by contract status (pending, active, backfilling, error, paused).
        - $ref: "#/components/parameters/TagParam"
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [id, label, network, status, added_at]
          description: Column to sort by. Defaults to id when omitted; values outside the enum are rejected with 422.
        - name: dir
          in: query
          required: false
          schema:
            type: string
            enum: [asc, desc]
          description: Sort direction. Defaults to asc when omitted; values outside the enum are rejected with 422.
      responses:
        "200":
          description: Page of contracts
          headers:
            X-Cache:
              $ref: "#/components/headers/XCache"
          content:
            application/json:
              schema:
                type: object
                required: [contracts, next_cursor]
                properties:
                  contracts:
                    type: array
                    items:
                      $ref: "#/components/schemas/Contract"
                  next_cursor:
                    type: string
                    description: Opaque cursor for the next page; empty when no more pages.
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      tags: [Contracts]
      summary: Register a contract for tracking
      operationId: registerContract
      security:
        - ApiKeyAuth: [write:contracts]
        - RoleAuth: [contributor]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, network]
              properties:
                id:
                  type: string
                  pattern: "^C[A-Za-z0-9]{55}$"
                  description: Stellar contract ID (56 chars, starts with C).
                network:
                  type: string
                  enum: [testnet, mainnet, futurenet, standalone]
                label:
                  type: string
                  description: Optional human-friendly label.
      responses:
        "201":
          description: Contract registered (status pending until backfill completes).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contract"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenRole"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/contracts/batch:
    post:
      tags: [Contracts]
      summary: Apply a bulk action to many contracts
      operationId: batchContracts
      security:
        - ApiKeyAuth: [write:contracts]
        - RoleAuth: [contributor]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchContractsRequest"
      responses:
        "200":
          description: Bulk action applied
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchContractsResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenRole"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/contracts/{id}:
    get:
      tags: [Contracts]
      summary: Get one contract
      operationId: getContract
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
      responses:
        "200":
          description: The contract
          headers:
            X-Cache:
              $ref: "#/components/headers/XCache"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contract"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/contracts/{id}/tags:
    post:
      tags: [Contracts]
      summary: Add a tag to a contract
      description: |
        Adds a user-defined tag to a contract. The tag is trimmed and
        lowercased before storage. Adding a tag that is already present is a
        no-op, so the operation is idempotent.
      operationId: addContractTag
      security:
        - ApiKeyAuth: [write:contracts]
        - RoleAuth: [contributor]
      parameters:
        - $ref: "#/components/parameters/ContractID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContractTagRequest"
      responses:
        "200":
          description: The contract's full, sorted tag list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractTags"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenRole"
        "404":
          $ref: "#/components/responses/NotFound"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/contracts/{id}/tags/{tag}:
    delete:
      tags: [Contracts]
      summary: Remove a tag from a contract
      description: |
        Removes a user-defined tag from a contract. Removing a tag that is not
        present is a no-op.
      operationId: removeContractTag
      security:
        - ApiKeyAuth: [write:contracts]
        - RoleAuth: [contributor]
      parameters:
        - $ref: "#/components/parameters/ContractID"
        - $ref: "#/components/parameters/TagPath"
      responses:
        "204":
          description: Tag removed
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenRole"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/contracts/{id}/events:
    get:
      tags: [Events]
      summary: List contract events
      operationId: listContractEvents
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/NetworkParam"
        - name: type
          in: query
          required: false
          schema:
            type: string
          description: Event type filter.
        - name: from
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
          description: Lower ledger bound (inclusive).
        - name: to
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
          description: Upper ledger bound (inclusive).
      responses:
        "200":
          description: Page of events
          content:
            application/json:
              schema:
                type: object
                required: [events, next_cursor]
                properties:
                  events:
                    type: array
                    items:
                      $ref: "#/components/schemas/Event"
                  next_cursor:
                    type: string
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/contracts/{id}/events.csv:
    get:
      tags: [Events]
      summary: Export contract events as CSV
      description: >
        Streams every matching event as CSV instead of paginating them, so a
        large contract can be handed to a spreadsheet or an analyst in one
        request. Rows are ordered by ledger ascending, then event id, and the
        file is deterministic for an unchanged store.

        Unlike the JSON listing there is no cursor and no row cap: an export is
        meant to be complete. The same `type`, `from` and `to` filters apply,
        but `topic` and `in_successful_call` are not supported here.

        The header row is always present, so an unknown contract yields a
        file with no data rows rather than a 404. Free-text columns are
        prefixed with an apostrophe when they start with a character a
        spreadsheet would treat as a formula.
      operationId: exportContractEventsCSV
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
        - $ref: "#/components/parameters/NetworkParam"
        - name: type
          in: query
          required: false
          schema:
            type: string
          description: Event type filter.
        - name: from
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
          description: Lower ledger bound (inclusive). Must not exceed `to`.
        - name: to
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
          description: Upper ledger bound (inclusive). Must not be below `from`.
      responses:
        "200":
          description: >
            CSV export of matching contract events, served as a downloadable
            attachment with `Content-Type: text/csv; charset=utf-8` and
            `Content-Disposition: attachment; filename="<id>-events.csv"`.
            The columns are id, contract_id, network, ledger,
            ledger_closed_at, tx_hash, type, topic_xdr, value_xdr,
            topic_decoded, value_decoded, in_successful_call.
          content:
            text/csv:
              schema:
                type: string
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/contracts/{id}/invocations:
    get:
      tags: [Invocations]
      summary: List contract invocations
      operationId: listContractInvocations
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/NetworkParam"
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [SUCCESS, FAILED, NOT_FOUND]
          description: Invocation status filter.
        - name: function_name
          in: query
          required: false
          schema:
            type: string
          description: Function name filter.
        - name: from
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
          description: Lower ledger bound (inclusive).
        - name: to
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
          description: Upper ledger bound (inclusive).
      responses:
        "200":
          description: Page of invocations
          content:
            application/json:
              schema:
                type: object
                required: [invocations, next_cursor]
                properties:
                  invocations:
                    type: array
                    items:
                      $ref: "#/components/schemas/Invocation"
                  next_cursor:
                    type: string
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/contracts/{id}/storage:
    get:
      tags: [Storage]
      summary: List contract storage entries
      operationId: listContractStorage
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/NetworkParam"
        - name: durability
          in: query
          required: false
          schema:
            type: string
            enum: [temporary, persistent, instance]
          description: Storage durability filter.
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [live, archived, deleted]
          description: Storage entry status filter.
      responses:
        "200":
          description: Page of storage entries
          content:
            application/json:
              schema:
                type: object
                required: [storage, next_cursor]
                properties:
                  storage:
                    type: array
                    items:
                      $ref: "#/components/schemas/StorageEntry"
                  next_cursor:
                    type: string
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/contracts/{id}/stats:
    get:
      tags: [Stats]
      summary: Per-contract statistics
      operationId: getContractStats
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
        - name: window
          in: query
          required: false
          schema:
            type: string
          description: Aggregation window. 7d and 30d map to 7/30 days; anything else is 24 hours.
      responses:
        "200":
          description: Contract statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractStats"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/contracts/{id}/forecast:
    get:
      tags: [Forecast]
      summary: Forecast contract usage over the next N days
      operationId: getContractForecast
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
        - name: horizon
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 365
          description: Number of days to forecast (default 30; optional trailing d accepted).
      responses:
        "200":
          description: Forecast series for fees, invocations, and events
          content:
            application/json:
              schema:
                type: object
                required: [contract_id, lookback_days, series]
                properties:
                  contract_id:
                    type: string
                  lookback_days:
                    type: integer
                  series:
                    type: array
                    items:
                      $ref: "#/components/schemas/ForecastSeries"
        "400":
          description: Invalid horizon parameter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/contracts/{id}/snapshot:
    get:
      tags: [Snapshots]
      summary: Snapshot of contract storage at a historical ledger
      operationId: getContractSnapshot
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
        - name: ledger
          in: query
          required: true
          schema:
            type: integer
            format: int32
            minimum: 1
          description: Ledger to snap (greater than zero).
      responses:
        "200":
          description: Storage snapshot plus the last event at or before the ledger
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractSnapshot"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/contracts/{id}/verify:
    post:
      tags: [Verification]
      summary: Verify contract source against the on-chain Wasm hash
      operationId: verifyContractSource
      description: |
        Rebuilds the submitted source in an isolated sandbox and compares the
        resulting SHA-256 Wasm hash with the hash recorded on-chain for this
        contract. Supply exactly one source payload: `source.kind` is either
        `archive` (with `source.content_base64`) or `git` (with `source.url`
        and `source.commit`). `source.subdir` and `artifact` are optional
        overrides for multi-crate sources and for naming the built `.wasm`
        directly.

        A build that runs but does not match is a successful request: it
        returns 200 with `status: failed`, `matched: false`, and diagnostics
        explaining the likely cause. Use 422 for malformed input: an unknown
        `kind`, a missing payload, or a body over 16 MiB. A deployment without
        a build sandbox answers 503 rather than pretending to verify.
      security:
        - ApiKeyAuth: [write:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContractVerificationRequest"
      responses:
        "200":
          description: Verification verdict, including a hash mismatch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractVerification"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          description: No build sandbox is configured on this deployment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/contracts/{id}/verification:
    get:
      tags: [Verification]
      summary: Read the stored source verification for a contract
      operationId: getContractVerification
      description: |
        Returns the most recent verification record for the contract. Responds
        404 both when the contract itself is unknown and when the contract
        exists but has never been submitted for source verification.
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
      responses:
        "200":
          description: Stored verification record
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractVerification"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/contracts/{id}/stream:
    get:
      tags: [Events]
      summary: Poll the most recent contract events
      operationId: streamContractEvents
      description: |
        Short-poll convenience used by the dashboard. Returns the 20 most
        recent events as JSON (not SSE).
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
      responses:
        "200":
          description: Most recent events
          headers:
            Last-Modified:
              schema:
                type: string
                format: date-time
          content:
            application/json:
              schema:
                type: object
                required: [events]
                properties:
                  events:
                    type: array
                    items:
                      $ref: "#/components/schemas/Event"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/api-keys:
    get:
      tags: [API Keys]
      summary: List API keys
      operationId: listApiKeys
      security:
        - ApiKeyAuth: [admin:*]
        - RoleAuth: [admin]
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Page of API keys
          content:
            application/json:
              schema:
                type: object
                required: [api_keys, next_cursor]
                properties:
                  api_keys:
                    type: array
                    items:
                      $ref: "#/components/schemas/APIKey"
                  next_cursor:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenScope"
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      tags: [API Keys]
      summary: Create an API key
      operationId: createApiKey
      security:
        - ApiKeyAuth: [admin:*]
        - RoleAuth: [admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, scopes]
              properties:
                name:
                  type: string
                  description: Human-friendly key name.
                scopes:
                  type: array
                  items:
                    type: string
                    enum: [read:contracts, write:contracts, read:watchdog, admin:*]
                  minItems: 1
                  description: Scopes granted to the key.
      responses:
        "201":
          description: Key created; the plaintext key is returned once.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/APIKey"
                  - type: object
                    required: [key]
                    properties:
                      key:
                        type: string
                        description: Plaintext token, shown once.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenScope"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/api-keys/{id}:
    delete:
      tags: [API Keys]
      summary: Revoke an API key
      operationId: revokeApiKey
      security:
        - ApiKeyAuth: [admin:*]
        - RoleAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: API key ID.
      responses:
        "204":
          description: Key revoked
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenScope"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/admin/keys:
    get:
      tags: [API Keys]
      summary: List API keys (admin role only)
      operationId: listApiKeysAdmin
      security:
        - RoleAuth: [admin]
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Page of API keys
          content:
            application/json:
              schema:
                type: object
                required: [api_keys, next_cursor]
                properties:
                  api_keys:
                    type: array
                    items:
                      $ref: "#/components/schemas/APIKey"
                  next_cursor:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenRole"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      tags: [API Keys]
      summary: Create an API key (admin role only)
      operationId: createApiKeyAdmin
      security:
        - RoleAuth: [admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, scopes]
              properties:
                name:
                  type: string
                scopes:
                  type: array
                  items:
                    type: string
                  minItems: 1
      responses:
        "201":
          description: Key created; the plaintext key is returned once.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/APIKey"
                  - type: object
                    required: [key]
                    properties:
                      key:
                        type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenRole"
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/admin/keys/{id}:
    delete:
      tags: [API Keys]
      summary: Revoke an API key (admin role only)
      operationId: revokeApiKeyAdmin
      security:
        - RoleAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Key revoked
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenRole"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/watchlist:
    get:
      tags: [Watchlist]
      summary: List the caller's watchlist
      operationId: listWatchlist
      security:
        - IdentityHeaderAuth: []
      parameters:
        - $ref: "#/components/parameters/UserIDHeader"
      responses:
        "200":
          description: Watchlist items
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Watchlist"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      tags: [Watchlist]
      summary: Add a contract to the caller's watchlist
      operationId: addToWatchlist
      security:
        - IdentityHeaderAuth: []
      parameters:
        - $ref: "#/components/parameters/UserIDHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contract_id]
              properties:
                contract_id:
                  type: string
      responses:
        "201":
          description: Added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InWatchlist"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/watchlist/{contractId}:
    delete:
      tags: [Watchlist]
      summary: Remove a contract from the caller's watchlist
      operationId: removeFromWatchlist
      security:
        - IdentityHeaderAuth: []
      parameters:
        - $ref: "#/components/parameters/UserIDHeader"
        - name: contractId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InWatchlist"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/watchlist/{contractId}/status:
    get:
      tags: [Watchlist]
      summary: Check watchlist membership for a contract
      operationId: getWatchlistStatus
      security:
        - IdentityHeaderAuth: []
      parameters:
        - $ref: "#/components/parameters/UserIDHeader"
        - name: contractId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Membership status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InWatchlist"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/watchdog/stats:
    get:
      tags: [Watchdog]
      summary: Watchdog statistics
      operationId: getWatchdogStats
      security:
        - ApiKeyAuth: [read:watchdog]
      parameters:
        - $ref: "#/components/parameters/NetworkParam"
      responses:
        "200":
          description: Watchdog summary counts
          headers:
            X-Cache:
              $ref: "#/components/headers/XCache"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WatchdogStats"
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/watchdog/alerts:
    get:
      tags: [Watchdog]
      summary: List watchdog alerts
      operationId: listWatchdogAlerts
      security:
        - ApiKeyAuth: [read:watchdog]
      parameters:
        - name: severity
          in: query
          required: false
          schema:
            type: string
            enum: [Info, Warning, Critical]
          description: Severity filter.
        - $ref: "#/components/parameters/NetworkParam"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
          description: Maximum alerts to return (default 100).
        - $ref: "#/components/parameters/AlertCursor"
      responses:
        "200":
          description: Alerts
          content:
            application/json:
              schema:
                type: object
                required: [alerts, next_cursor]
                properties:
                  alerts:
                    type: array
                    items:
                      $ref: "#/components/schemas/ContractAlert"
                  next_cursor:
                    type: string
                    description: Cursor for the next (older) page; empty when no more pages.
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/watchdog/contracts:
    get:
      tags: [Watchdog]
      summary: List monitored contracts
      operationId: listMonitoredContracts
      security:
        - ApiKeyAuth: [read:watchdog]
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/NetworkParam"
      responses:
        "200":
          description: Page of monitored contracts
          content:
            application/json:
              schema:
                type: object
                required: [contracts, next_cursor]
                properties:
                  contracts:
                    type: array
                    items:
                      $ref: "#/components/schemas/MonitoredContract"
                  next_cursor:
                    type: string
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/watchdog/contracts/{id}:
    get:
      tags: [Watchdog]
      summary: Get one monitored contract
      operationId: getMonitoredContract
      security:
        - ApiKeyAuth: [read:watchdog]
      parameters:
        - $ref: "#/components/parameters/ContractID"
      responses:
        "200":
          description: The monitored contract
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MonitoredContract"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/watchdog/contracts/{id}/health:
    get:
      tags: [Watchdog]
      summary: List health checks for a monitored contract
      operationId: listContractHealthChecks
      security:
        - ApiKeyAuth: [read:watchdog]
      parameters:
        - $ref: "#/components/parameters/ContractID"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
          description: Maximum checks to return (default 100).
      responses:
        "200":
          description: Health checks
          content:
            application/json:
              schema:
                type: object
                required: [health_checks]
                properties:
                  health_checks:
                    type: array
                    items:
                      $ref: "#/components/schemas/HealthCheck"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/watchdog/contracts/{id}/alerts:
    get:
      tags: [Watchdog]
      summary: List alerts for a monitored contract
      operationId: listContractAlerts
      security:
        - ApiKeyAuth: [read:watchdog]
      parameters:
        - $ref: "#/components/parameters/ContractID"
        - name: severity
          in: query
          required: false
          schema:
            type: string
            enum: [Info, Warning, Critical]
        - $ref: "#/components/parameters/NetworkParam"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - $ref: "#/components/parameters/AlertCursor"
      responses:
        "200":
          description: Alerts for the contract
          content:
            application/json:
              schema:
                type: object
                required: [alerts, next_cursor]
                properties:
                  alerts:
                    type: array
                    items:
                      $ref: "#/components/schemas/ContractAlert"
                  next_cursor:
                    type: string
                    description: Cursor for the next (older) page; empty when no more pages.
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/events/recent:
    get:
      tags: [Live]
      summary: Newest events across every tracked contract
      operationId: recentEvents
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        "200":
          description: Recent events, newest first
          content:
            application/json:
              schema:
                type: object
                required: [events]
                properties:
                  events:
                    type: array
                    items:
                      $ref: "#/components/schemas/Event"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/stats/activity:
    get:
      tags: [Live]
      summary: Per-contract events per minute (sparklines and leaderboard)
      operationId: liveActivity
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - name: minutes
          in: query
          required: false
          schema:
            type: integer
            default: 30
            maximum: 1440
      responses:
        "200":
          description: Contracts with activity in the window, hottest first
          content:
            application/json:
              schema:
                type: object
                required: [minutes, window_start, contracts]
                properties:
                  minutes:
                    type: integer
                  window_start:
                    type: string
                    format: date-time
                  contracts:
                    type: array
                    items:
                      $ref: "#/components/schemas/ContractEventRate"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/contracts/validate:
    post:
      tags: [Contracts]
      summary: Validate a contract id before tracking it
      operationId: validateContract
      security:
        - ApiKeyAuth: [read:contracts]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contract_id, network]
              properties:
                contract_id:
                  type: string
                network:
                  type: string
      responses:
        "200":
          description: |
            Validation report. `valid` is false and `reason` explains why when
            the id is malformed; `already_tracked` is advisory so clients can
            redirect to the existing entry instead of creating a duplicate.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractValidationResult"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  # ----------------------------------------------------------------------------
  # API v2 (issue #144)
  #
  # Identical paths to v1 under the /api/v2 prefix, with the consistent v2
  # contract: every list returns {data, pagination}, every timestamp is RFC
  # 3339 UTC, optional fields are explicit nulls. See docs/api-v2.md for the
  # field-by-field mapping.
  # ----------------------------------------------------------------------------
  /api/v2/stats/global:
    get:
      tags: [API v2]
      summary: Network-wide summary
      operationId: v2GlobalStats
      security:
        - ApiKeyAuth: [read:contracts]
      responses:
        "200":
          description: Global statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GlobalStats"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/stats/activity:
    get:
      tags: [API v2]
      summary: Per-contract events per minute
      operationId: v2LiveActivity
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/V2Minutes"
      responses:
        "200":
          description: Active contracts, hottest first
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2ActivityResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/events/recent:
    get:
      tags: [API v2]
      summary: Newest events across every tracked contract
      operationId: v2RecentEvents
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/V2Limit"
      responses:
        "200":
          description: Recent events
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2EventList"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/contracts:
    get:
      tags: [API v2]
      summary: List tracked contracts
      operationId: v2ListContracts
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/V2Cursor"
        - $ref: "#/components/parameters/V2Limit"
        - $ref: "#/components/parameters/V2Network"
        - $ref: "#/components/parameters/V2Status"
      responses:
        "200":
          description: Page of contracts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2ContractList"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      tags: [API v2]
      summary: Register a contract for tracking
      operationId: v2RegisterContract
      security:
        - ApiKeyAuth: []
        - RoleAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, network]
              properties:
                id:
                  type: string
                network:
                  type: string
                label:
                  type: string
      responses:
        "201":
          description: Contract accepted for backfill
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2Contract"
        "422":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/contracts/validate:
    post:
      tags: [API v2]
      summary: Validate a contract id before tracking it
      operationId: v2ValidateContract
      security:
        - ApiKeyAuth: [read:contracts]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contract_id, network]
              properties:
                contract_id:
                  type: string
                network:
                  type: string
      responses:
        "200":
          description: Validation report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractValidationResult"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/contracts/{id}:
    get:
      tags: [API v2]
      summary: Get one contract
      operationId: v2GetContract
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
      responses:
        "200":
          description: The contract
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2Contract"
        "404":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/contracts/{id}/events:
    get:
      tags: [API v2]
      summary: List a contract's events
      operationId: v2ListEvents
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
        - $ref: "#/components/parameters/V2Cursor"
        - $ref: "#/components/parameters/V2Limit"
        - $ref: "#/components/parameters/V2Network"
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum: [contract, system]
        - name: from
          in: query
          required: false
          schema:
            type: integer
        - name: to
          in: query
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: |
            Page of events. Ledger ranges that have been archived to cold
            storage (issue #146) are served transparently from Parquet objects,
            in which case `pagination.next_cursor` is null.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2EventList"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/contracts/{id}/invocations:
    get:
      tags: [API v2]
      summary: List a contract's invocations
      operationId: v2ListInvocations
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
        - $ref: "#/components/parameters/V2Cursor"
        - $ref: "#/components/parameters/V2Limit"
        - $ref: "#/components/parameters/V2Network"
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [SUCCESS, FAILED, NOT_FOUND]
        - name: function_name
          in: query
          required: false
          description: Renamed from v1's `fn`; `fn` is still accepted.
          schema:
            type: string
        - name: from
          in: query
          required: false
          schema:
            type: integer
        - name: to
          in: query
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: Page of invocations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2InvocationList"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/contracts/{id}/storage:
    get:
      tags: [API v2]
      summary: List a contract's storage entries
      operationId: v2ListStorageEntries
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
        - $ref: "#/components/parameters/V2Cursor"
        - $ref: "#/components/parameters/V2Limit"
        - $ref: "#/components/parameters/V2Network"
        - name: durability
          in: query
          required: false
          schema:
            type: string
            enum: [temporary, persistent, instance]
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [live, archived, deleted]
      responses:
        "200":
          description: Page of storage entries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2StorageList"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/contracts/{id}/stats:
    get:
      tags: [API v2]
      summary: Per-contract statistics
      operationId: v2ContractStats
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
        - name: window
          in: query
          required: false
          schema:
            type: string
            enum: [24h, 7d, 30d]
            default: 24h
      responses:
        "200":
          description: Contract statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2ContractStats"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/contracts/{id}/upgrades:
    get:
      tags: [API v2]
      summary: Wasm-hash upgrade history
      operationId: v2ListContractUpgrades
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
        - $ref: "#/components/parameters/V2Limit"
      responses:
        "200":
          description: Page of upgrades, newest first
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2UpgradeList"
        "404":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/contracts/{id}/health-score:
    get:
      tags: [API v2]
      summary: Cached composite health score
      operationId: v2GetContractHealthScore
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
      responses:
        "200":
          description: Health score with its four components
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2ContractHealthScore"
        "404":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/contracts/{id}/forecast:
    get:
      tags: [API v2]
      summary: Cost and usage forecast (v1 shape)
      operationId: v2ContractForecast
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
        - name: horizon
          in: query
          required: false
          schema:
            type: string
            default: 30d
      responses:
        "200":
          description: Forecast series
          content:
            application/json:
              schema:
                type: object
                description: See /api/v1/contracts/{id}/forecast; already v2-conformant.
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/contracts/{id}/snapshot:
    get:
      tags: [API v2]
      summary: Storage snapshot at a ledger (v1 shape)
      operationId: v2ContractSnapshot
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
        - name: ledger
          in: query
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Snapshot; nested arrays keep their semantic names
          content:
            application/json:
              schema:
                type: object
                description: See /api/v1/contracts/{id}/snapshot; already v2-conformant.
        "404":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/contracts/{id}/stream:
    get:
      tags: [API v2]
      summary: The 20 newest events, bounded (v1 shape)
      operationId: v2StreamEvents
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
      responses:
        "200":
          description: Bounded event list, not a page
          content:
            application/json:
              schema:
                type: object
                required: [events]
                properties:
                  events:
                    type: array
                    items:
                      $ref: "#/components/schemas/V2Event"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/contracts/{id}/graph:
    get:
      tags: [API v2]
      summary: Contract dependency graph (v1 shape)
      operationId: v2ContractGraph
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
      responses:
        "200":
          description: Node/edge document
          content:
            application/json:
              schema:
                type: object
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/watchlist:
    get:
      tags: [API v2]
      summary: List the caller's watchlist
      operationId: v2ListWatchlist
      security:
        - IdentityHeaderAuth: []
      responses:
        "200":
          description: Page of watchlist entries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2WatchlistList"
        "401":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      tags: [API v2]
      summary: Add a contract to the caller's watchlist
      operationId: v2AddToWatchlist
      security:
        - IdentityHeaderAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contract_id]
              properties:
                contract_id:
                  type: string
      responses:
        "201":
          description: Added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2WatchlistStatus"
        "401":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/watchlist/{contractId}:
    delete:
      tags: [API v2]
      summary: Remove a contract from the caller's watchlist
      operationId: v2RemoveFromWatchlist
      security:
        - IdentityHeaderAuth: []
      parameters:
        - $ref: "#/components/parameters/WatchlistContractID"
      responses:
        "200":
          description: Removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2WatchlistStatus"
        "401":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/watchlist/{contractId}/status:
    get:
      tags: [API v2]
      summary: Whether a contract is in the caller's watchlist
      operationId: v2WatchlistStatus
      security:
        - IdentityHeaderAuth: []
      parameters:
        - $ref: "#/components/parameters/WatchlistContractID"
      responses:
        "200":
          description: Watchlist membership
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2WatchlistStatus"
        "401":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/watchdog/stats:
    get:
      tags: [API v2]
      summary: Watchdog monitoring summary
      operationId: v2WatchdogStats
      security:
        - ApiKeyAuth: [read:watchdog]
      parameters:
        - $ref: "#/components/parameters/V2Network"
      responses:
        "200":
          description: Watchdog statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2WatchdogStats"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/watchdog/alerts:
    get:
      tags: [API v2]
      summary: All watchdog alerts
      operationId: v2ListWatchdogAlerts
      security:
        - ApiKeyAuth: [read:watchdog]
      parameters:
        - $ref: "#/components/parameters/V2Network"
        - name: severity
          in: query
          required: false
          schema:
            type: string
            enum: [Info, Warning, Critical]
        - $ref: "#/components/parameters/V2Limit"
      responses:
        "200":
          description: Alert list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2AlertList"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/watchdog/contracts:
    get:
      tags: [API v2]
      summary: List monitored contracts
      operationId: v2ListMonitoredContracts
      security:
        - ApiKeyAuth: [read:watchdog]
      parameters:
        - $ref: "#/components/parameters/V2Cursor"
        - $ref: "#/components/parameters/V2Limit"
        - $ref: "#/components/parameters/V2Network"
      responses:
        "200":
          description: Page of monitored contracts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2MonitoredList"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/watchdog/contracts/{id}:
    get:
      tags: [API v2]
      summary: Get one monitored contract
      operationId: v2GetMonitoredContract
      security:
        - ApiKeyAuth: [read:watchdog]
      parameters:
        - $ref: "#/components/parameters/ContractID"
      responses:
        "200":
          description: Monitored contract
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2MonitoredContract"
        "404":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/watchdog/contracts/{id}/health:
    get:
      tags: [API v2]
      summary: Health checks for a monitored contract
      operationId: v2ListHealthChecks
      security:
        - ApiKeyAuth: [read:watchdog]
      parameters:
        - $ref: "#/components/parameters/ContractID"
        - $ref: "#/components/parameters/V2Limit"
      responses:
        "200":
          description: Health check list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2HealthCheckList"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/watchdog/contracts/{id}/alerts:
    get:
      tags: [API v2]
      summary: Alerts for one monitored contract
      operationId: v2ListContractAlerts
      security:
        - ApiKeyAuth: [read:watchdog]
      parameters:
        - $ref: "#/components/parameters/ContractID"
        - $ref: "#/components/parameters/V2Limit"
      responses:
        "200":
          description: Alert list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2AlertList"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/api-keys:
    get:
      tags: [API v2]
      summary: List API key metadata (admin)
      operationId: v2ListAPIKeys
      security:
        - ApiKeyAuth: []
        - RoleAuth: []
      responses:
        "200":
          description: Key metadata; the token is never returned
          content:
            application/json:
              schema:
                type: object
        "401":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      tags: [API v2]
      summary: Create an API key (admin)
      operationId: v2CreateAPIKey
      security:
        - ApiKeyAuth: []
        - RoleAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, scopes]
              properties:
                name:
                  type: string
                scopes:
                  type: array
                  items:
                    type: string
      responses:
        "201":
          description: Key created; the plaintext token is returned exactly once
          content:
            application/json:
              schema:
                type: object
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/api-keys/{id}:
    delete:
      tags: [API v2]
      summary: Revoke an API key (admin)
      operationId: v2RevokeAPIKey
      security:
        - ApiKeyAuth: []
        - RoleAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Revoked
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/admin/keys:
    get:
      tags: [API v2]
      summary: List API keys (admin role, v1 shape)
      operationId: v2AdminListKeys
      security:
        - RoleAuth: []
      responses:
        "200":
          description: Key metadata
          content:
            application/json:
              schema:
                type: object
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      tags: [API v2]
      summary: Create an API key (admin role, v1 shape)
      operationId: v2AdminCreateKey
      security:
        - RoleAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "201":
          description: Key created
          content:
            application/json:
              schema:
                type: object
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v2/admin/keys/{id}:
    delete:
      tags: [API v2]
      summary: Revoke an API key (admin role, v1 shape)
      operationId: v2AdminRevokeKey
      security:
        - RoleAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Revoked
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"


  /api/v1/dlq:
    get:
      tags: [DLQ]
      summary: List dead-lettered indexer events
      description: Events that exhausted retries, newest-first, opaque cursor pagination.
      operationId: listFailedEvents
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
          description: Page size (default 50).
      responses:
        "200":
          description: Dead-lettered events
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/FailedEvent"
                  next_cursor:
                    type: string
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/dlq/{id}/requeue:
    post:
      tags: [DLQ]
      summary: Requeue a dead-lettered event
      description: Re-inserts the parked event into the events table and clears the DLQ row on success.
      operationId: requeueFailedEvent
      security:
        - ApiKeyAuth: [write:contracts]
          RoleAuth: [contributor]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: The DLQ row's surrogate id.
      responses:
        "200":
          description: Requeued
          content:
            application/json:
              schema:
                type: object
                required: [id, event_id, status]
                properties:
                  id:
                    type: integer
                    format: int64
                  event_id:
                    type: string
                  status:
                    type: string
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/labels:
    get:
      summary: Search visible account labels
      parameters:
        - in: query
          name: query
          schema: { type: string }
      responses:
        '200':
          description: Visible public and workspace labels
    post:
      summary: Create or update an account label
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [label, value, scope]
              properties:
                label: { type: string }
                value: { type: string, minLength: 56, maxLength: 56 }
                scope: { type: string, enum: [public, workspace] }
      responses:
        '201': { description: Label saved }

  /api/v1/resolve:
    get:
      summary: Resolve a visible label to its Stellar identifier
      parameters:
        - in: query
          name: query
          required: true
          schema: { type: string }
      responses:
        '200': { description: Resolved label }
        '404': { description: Label not found }
  /api/v1/health:
    get:
      tags: [Health]
      summary: Health probe with postgres and redis reachability
      operationId: apiHealth
      security: []
      responses:
        "200":
          description: Service is up; inspect db and redis for dependency state
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                    description: '"ok" when both dependencies are reachable, "degraded" otherwise'
                  db:
                    type: string
                    enum: [connected, unreachable]
                  redis:
                    type: string
                    enum: [connected, unreachable]
                  timestamp:
                    type: string
                    format: date-time
                required: [status, db, redis, timestamp]

  /api/version:
    get:
      tags: [Version]
      summary: Build metadata for the running API instance
      operationId: getVersion
      security: []
      responses:
        "200":
          description: Version, git SHA, and build timestamp (fall back to "dev" when not injected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildInfo"
        "429":
          $ref: "#/components/responses/RateLimited"

  /metrics:
    get:
      tags: [Operations]
      summary: Prometheus metrics
      operationId: getMetrics
      security: []
      description: |
        Prometheus text exposition. Includes the response cache counters
        `sorolens_api_cache_requests_total{namespace,result}` (result is `hit`
        or `miss`) and `sorolens_api_cache_purges_total{namespace}`, plus Go
        runtime and process metrics.
      responses:
        "200":
          description: Metrics in Prometheus text format
          content:
            text/plain:
              schema:
                type: string
        "429":
          $ref: "#/components/responses/RateLimited"

  /integrations/slack/commands:
    post:
      tags: [Integrations]
      summary: Slack slash command
      operationId: slackCommand
      security: []
      description: |
        Endpoint for a Slack slash command such as `/sorolens <contract_id>`.
        Every request must carry a valid Slack signature
        (`X-Slack-Signature`, HMAC-SHA256 over `v0:<timestamp>:<body>` with the
        app's signing secret) and an `X-Slack-Request-Timestamp` within five
        minutes. Replies with an ephemeral Block Kit message showing the
        contract's watchdog status and latest alerts. Disabled (404) unless
        `SLACK_SIGNING_SECRET` is set.
      parameters:
        - name: X-Slack-Signature
          in: header
          required: true
          schema:
            type: string
            example: v0=a2114d57b48eac39b9ad189dd8316235a7b4a8d21a10bd27519666489c69b503
        - name: X-Slack-Request-Timestamp
          in: header
          required: true
          schema:
            type: string
            example: "1531420618"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                command:
                  type: string
                  example: /sorolens
                text:
                  type: string
                  description: Contract ID to look up; empty or `help` returns usage.
      responses:
        "200":
          description: Ephemeral Slack message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SlackMessage"
        "400":
          $ref: "#/components/responses/InvalidInput"
        "401":
          description: Missing, invalid, or stale Slack signature.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Slack integration is not configured.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/events:
    get:
      tags: [Events]
      summary: List events across all tracked contracts
      operationId: listAllEvents
      description: Cross-contract events explorer feed, newest first.
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: contract_id
          in: query
          required: false
          schema:
            type: string
          description: Contract ID prefix (case-insensitive); a full ID matches one contract.
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum: [contract, system, diagnostic]
        - $ref: "#/components/parameters/NetworkParam"
        - name: since
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Inclusive lower bound on ledger_closed_at (RFC 3339).
        - name: until
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Inclusive upper bound on ledger_closed_at (RFC 3339).
      responses:
        "200":
          description: Page of events
          content:
            application/json:
              schema:
                type: object
                required: [events, next_cursor]
                properties:
                  events:
                    type: array
                    items:
                      $ref: "#/components/schemas/Event"
                  next_cursor:
                    type: string
                    description: Opaque cursor for the next (older) page; empty when no more pages.
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/invocations:
    get:
      tags: [Invocations]
      summary: List invocations across all tracked contracts
      operationId: listAllInvocations
      description: Cross-contract invocation explorer, newest first (ledger DESC).
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: contract_id
          in: query
          required: false
          schema:
            type: string
          description: Filter to a specific contract ID.
        - name: fn
          in: query
          required: false
          schema:
            type: string
          description: Function name filter.
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [SUCCESS, FAILED, NOT_FOUND]
          description: Invocation status filter.
        - $ref: "#/components/parameters/NetworkParam"
        - name: from
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
          description: Lower ledger bound (inclusive).
        - name: to
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
          description: Upper ledger bound (inclusive).
        - name: since
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Inclusive lower bound on ledger_closed_at (RFC 3339).
        - name: until
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Inclusive upper bound on ledger_closed_at (RFC 3339).
      responses:
        "200":
          description: Page of invocations
          content:
            application/json:
              schema:
                type: object
                required: [invocations, next_cursor]
                properties:
                  invocations:
                    type: array
                    items:
                      $ref: "#/components/schemas/Invocation"
                  next_cursor:
                    type: string
                    description: Opaque cursor for the next (older) page; empty when no more pages.
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/search:
    get:
      tags:
        - Contracts
      summary: Search contracts
      description: Search contracts by ID or label
      parameters:
        - name: q
          in: query
          description: Search query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of results
          required: false
          schema:
            type: integer
            default: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Contract"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/v1/compare:
    get:
      tags: [Stats]
      summary: Compare up to four contracts side by side
      operationId: compareContracts
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          description: 1 to 4 comma-separated contract IDs.
        - name: window
          in: query
          required: false
          schema:
            type: string
            enum: [24h, 7d, 30d]
            default: 24h
      responses:
        "200":
          description: Comparison, one entry per requested contract in request order.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompareResponse"
        "422":
          $ref: "#/components/responses/InvalidInput"

  /api/v1/contracts/{id}/snapshot.json:
    get:
      tags: [Snapshots]
      summary: Portable JSON export of a contract's current state
      operationId: exportContractSnapshot
      description: |
        Returns the contract's current state as a single versioned JSON
        document: metadata, storage, recent events, and summary. The shape is
        frozen by `schema_version` and is deterministic for an unchanged store
        (stable field order, sorted collections, no wall-clock fields), so
        exports can be archived or diffed. When the client advertises
        `Accept-Encoding: gzip` the body is gzip-compressed.
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
      responses:
        "200":
          description: Versioned contract snapshot export
          headers:
            Content-Disposition:
              schema:
                type: string
              description: attachment; filename="<contract_id>-snapshot.json"
            Content-Encoding:
              schema:
                type: string
              description: gzip when the client advertises Accept-Encoding gzip.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractSnapshotExport"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/contracts/{id}/upgrades:
    get:
      tags: [Contracts]
      summary: List Wasm code upgrades for a contract
      operationId: listContractUpgrades
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 50
      responses:
        "200":
          description: Upgrades, newest first
          content:
            application/json:
              schema:
                type: object
                required: [upgrades]
                properties:
                  upgrades:
                    type: array
                    items:
                      $ref: "#/components/schemas/ContractUpgrade"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/contracts/{id}/health-score:
    get:
      tags: [Stats]
      summary: Get a contract's composite 0-100 health score
      operationId: getContractHealthScore
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
      responses:
        "200":
          description: The cached health score
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthScore"
        "404":
          description: Contract not found, or its score has not been computed yet.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/contracts/{id}/summary:
    get:
      tags: [Stats]
      summary: Get a contract's dashboard summary
      operationId: getContractSummary
      description: Contract metadata, stats, latest event and invocation, and health score in one call.
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
      responses:
        "200":
          description: The summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractSummary"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/contracts/{id}/graph:
    get:
      tags: [Contracts]
      summary: Get the contract's cross-contract call graph
      operationId: getContractGraph
      description: Nodes and edges derived from the contract's most recent invocations (up to 1000).
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
      responses:
        "200":
          description: The call graph
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractGraph"
        "400":
          description: Invalid contract ID.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/contracts/{id}/spec:
    get:
      tags: [Contracts]
      summary: Get a contract's parsed SEP-48 interface spec
      operationId: getContractSpec
      description: >
        The interface spec extracted from the contract's `contractspecv0` Wasm
        custom section: every callable function with its argument and return
        type tree. Returns 404 both for an untracked contract and for a tracked
        contract whose spec has not been parsed yet.
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
      responses:
        "200":
          description: The cached interface spec
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractSpec"
        "404":
          description: Contract not found, or its interface spec has not been parsed yet.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/contracts/{id}/wasm:
    get:
      tags: [Contracts]
      summary: Download the contract's cached Wasm binary
      operationId: getContractWasm
      description: |
        Returns the exact on-chain Wasm bytes for the contract. The indexer
        caches the binary on the first CONTRACT_CODE entry it sees, so the
        payload is content-addressed by Wasm hash and safe to serve
        immutably (issue #162).
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - $ref: "#/components/parameters/ContractID"
      responses:
        "200":
          description: The raw Wasm binary.
          headers:
            Cache-Control:
              schema:
                type: string
            X-Wasm-Hash:
              schema:
                type: string
          content:
            application/wasm:
              schema:
                type: string
                format: binary
        "404":
          description: Unknown contract, or its Wasm has not been fetched yet.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/stream/events:
    get:
      tags: [Events]
      summary: Stream new events (Server-Sent Events)
      operationId: streamAllEvents
      security:
        - ApiKeyAuth: [read:contracts]
      parameters:
        - name: contract_id
          in: query
          required: false
          schema:
            type: string
          description: Only stream events for this contract.
      responses:
        "200":
          description: An SSE stream; each `data:` line is a JSON Event.
          content:
            text/event-stream:
              schema:
                type: string
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/watchdog/contracts/{id}/uptime:
    get:
      tags: [Watchdog]
      summary: Get uptime percentage for a monitored contract
      operationId: getContractUptime
      security:
        - ApiKeyAuth: [read:watchdog]
      parameters:
        - $ref: "#/components/parameters/ContractID"
        - name: window
          in: query
          required: false
          schema:
            type: string
            enum: [24h, 7d, 30d]
          description: Time window over which to compute uptime (default 24h).
      responses:
        "200":
          description: Uptime statistics for the specified window
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UptimeResult"
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/watchdog/subscriptions:
    get:
      tags: [Notifications]
      summary: List alert notification subscriptions
      operationId: listAlertSubscriptions
      description: Integration secrets are never returned; see AlertSubscription.
      security:
        - ApiKeyAuth: [read:watchdog]
          RoleAuth: [contributor]
      responses:
        "200":
          description: Subscriptions, newest first
          content:
            application/json:
              schema:
                type: object
                required: [subscriptions]
                properties:
                  subscriptions:
                    type: array
                    items:
                      $ref: "#/components/schemas/AlertSubscription"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenRole"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      tags: [Notifications]
      summary: Subscribe a channel to a contract's alerts
      operationId: createAlertSubscription
      description: |
        Critical alerts for the contract are delivered to the channel in its
        native format: `webhook` (generic JSON), `slack` (Block Kit via an
        incoming webhook), `discord` (embed via a channel webhook) or
        `pagerduty` (Events API v2 trigger with severity mapping).
      security:
        - ApiKeyAuth: [write:contracts]
          RoleAuth: [contributor]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAlertSubscription"
      responses:
        "201":
          description: Subscription created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertSubscription"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenRole"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/watchdog/subscriptions/{id}:
    delete:
      tags: [Notifications]
      summary: Delete an alert subscription
      operationId: deleteAlertSubscription
      security:
        - ApiKeyAuth: [write:contracts]
          RoleAuth: [contributor]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenRole"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/alerts:
    get:
      tags: [Alerts]
      summary: List deduplicated alert groups
      description: |
        Returns the grouped, deduplicated alert view by default (one row per
        group, ordered by last_seen descending). Pass `flat=true` to get the
        raw per-event alert feed instead.
      operationId: listAlerts
      parameters:
        - name: flat
          in: query
          required: false
          schema:
            type: boolean
          description: Return the raw ContractAlert feed instead of grouped alerts.
        - name: contract_id
          in: query
          required: false
          schema:
            type: string
          description: Filter by contract ID.
        - name: severity
          in: query
          required: false
          schema:
            type: string
            enum: [Info, Warning, Critical]
          description: Severity filter.
        - $ref: "#/components/parameters/NetworkParam"
        - $ref: "#/components/parameters/AlertCursor"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
          description: Maximum results to return (default 100).
      responses:
        "200":
          description: Alert groups (or raw alerts when flat=true)
          content:
            application/json:
              schema:
                type: object
                required: [next_cursor]
                properties:
                  groups:
                    type: array
                    items:
                      $ref: "#/components/schemas/AlertGroup"
                    description: Present when flat is not set.
                  alerts:
                    type: array
                    items:
                      $ref: "#/components/schemas/ContractAlert"
                    description: Present when flat=true.
                  next_cursor:
                    type: string
        "422":
          $ref: "#/components/responses/InvalidInput"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/reports/{contract_id}:
    get:
      tags: [Reports]
      summary: Get a contract's monthly SLA report
      description: |
        Returns the monthly SLA/uptime report for a contract, derived from
        stored watchdog health checks and alerts. Supports JSON (default),
        CSV, and PDF export formats.
      operationId: getContractReport
      parameters:
        - name: contract_id
          in: path
          required: true
          schema:
            type: string
          description: Contract ID (starts with C).
        - name: month
          in: query
          required: false
          schema:
            type: string
          description: Reporting month as YYYY-MM (UTC). Defaults to the current month.
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum: [json, csv, pdf]
          description: Export format (default json).
      responses:
        "200":
          description: The monthly SLA report
          headers:
            X-Report-Signature:
[...]
